!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}
    = stylesheet_link_tag "application", "syntax"
    %link{:href => "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", :rel => "stylesheet"}
    - if content_for?(:title)
      %title= "yield @chow | #{yield_content :title}"
    - else
      %title= "yield @chow"
  %body
    #bar

    .container
      %header
        .col-xs-7.col-md-6.nav
          %a{:href => "/"}
            <span id="first">yield</span> <span id="second">@chow</span>

        .col-xs-5.col-md-6.social
          %a{:href => "mailto:chris@chowie.net" }
            %i{:class => "icon-envelope-alt"}
          %a{:href => "https://twitter.com/Soliah"}
            %i{:class => "icon-twitter"}
          %a{:href => "https://github.com/Soliah"}
            %i{:class => "icon-github"}
          %a{:href => "http://stackoverflow.com/users/140578/soliah"}
            %i{:class => "icon-stackexchange"}

      %section.content
        .row
          .col-md-12
            = yield

    %footer
      &copy; 2011-13 Christopher Chow. Powered by
      %a{:href => "http://middlemanapp.com"} Middleman.
      Hosted on
      %a{:href => "http://http://pages.github.com"} GitHub Pages


  = javascript_include_tag "application"
  = yield_content :scripts
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23495981-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
