= wrap_layout :application do
  - content_for :scripts do
    = javascript_include_tag "http://disqus.com/forums/chowie/embed.js"

  - content_for :title do
    = current_page.title

  .post
    %h1= current_page.title
    %time= current_page.date.strftime("%b %e, %Y")
    = find_and_preserve current_page.body
    %hr

    #disqus_thread
    %noscript
      %a{:href => "http://chowie.disqus.com/?url=ref"}
        View the discussion thread.
