---
import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import { SITE_TITLE } from "../config";

import { getCollection } from "astro:content";

const posts = await getCollection("blog");
const filteredPosts = posts.filter(({ data }) => {
  return data.draft !== true;
});
const sortedPosts = posts
  .sort(
    (a, b) =>
      Math.floor(new Date(b.data.date).getTime() / 1000) -
      Math.floor(new Date(a.data.date).getTime() / 1000)
  )
  .slice(0, 3);
---

<PageLayout>
  <PageMeta title={`Blog | ${SITE_TITLE}`} slot="meta" />
  <section slot="main">
    <ul>
      {
        sortedPosts.map((post) => {
          const postDate = new Date(post.data.date);
          const formattedDate = postDate.toLocaleDateString("en-au", {
            year: "numeric",
            month: "short",
            day: "numeric",
          });
          return (
            <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start">
              <div class="title">
                {post.data.external ? (
                  <a
                    href={post.data.url}
                    target="_blank"
                    class="unset
                        transition-[background-size] duration-300 
                        bg-gradient-to-r bg-left-bottom bg-no-repeat
                        bg-[length:0%_2px] hover:bg-[length:100%_2px] dark:bg-[length:0%_2px] hover:dark:bg-[length:100%_2px]
                        from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
                      "
                  >
                    <span>{post.data.title}</span>
                    <span>
                      <i class="ml-1 mr-1 text-[12px] pb-2 fa-solid fa-up-right-from-square" />
                    </span>
                  </a>
                ) : (
                  <a
                    href={`/blog/${post.slug}`}
                    class="unset
                        transition-[background-size] duration-300 
                        bg-gradient-to-r bg-left-bottom bg-no-repeat
                        bg-[length:0%_2px] hover:bg-[length:100%_2px] dark:bg-[length:0%_2px] hover:dark:bg-[length:100%_2px]
                        from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
                      "
                  >
                    {post.data.title}
                  </a>
                )}
              </div>
              <div class="text-text-muted text-sm italic pt-1">
                <time datetime={postDate.toISOString()}>{formattedDate}</time>
              </div>
            </li>
          );
        })
      }
    </ul>
  </section>
</PageLayout>
